{% extends 'base.html' %}

{% block title %} Clientes {% endblock %}

{% block content %}
<h1>Clientes</h1>

{% if user.is_authenticated %}
<p>Seja bem-vindo {{ user.username }}</p>
<a href="{% url 'logout' %}">Logout</a> | <a href="{% url 'core:list_id' %}">Ver os doc IDs</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

    <ul>
    {% for client in clients %}
        <li>
            <p>{{ client }}</p> <a href="{% url 'core:update_client' client.id %}">Editar</a> | <a href="{% url 'core:delete_client' client.id %}">Apagar</a>
        </li>
    {% endfor %}
    </ul>
{% if user.is_authenticated %}
<a href="{% url 'core:new_client' %}">Novo cliente</a>
{% endif %}
{% endblock %}