{% extends 'base.html' %}
    {% block title %} IDs {% endblock %}

{% block content %}

<h1>Doc IDs disponiveis</h1>

{% if user.is_authenticated %}
<p>Seja bem-vindo {{ user.username }}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<h1>Voce precisa fazer login para continuar</h1>
<a href="{% url 'login' %}">Login</a>
{% endif %}
 <!-- usar tabelas ao inves de marcadores -->
    <ul>
    {% for loc_id in id %}
        <li>
            <p>{{ loc_id }}</p> <a href="{% url 'core:update_id' loc_id.id %}">Editar</a> | <a href="{% url 'core:delete_id' loc_id.id %}">Apagar</a>
        </li>
    {% endfor %}
    </ul>

<a href="{% url 'core:new_id' %}">Cadastrar novo ID</a> | <a href="{% url 'core:list_clients' %}">Voltar</a>

{% endblock %}