{% extends 'base.html' %}

{% block title %} Clientes {% endblock %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">

        <div class="row">
            <div class="display-5 fw-bold lh-1 mb-3">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 mb-3">Clientes</h1>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-lg-7 text-center text-lg-start">
                        <p class="lead"> Bem-vindo {{ user.username|capfirst }} </p>
                    </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                        <a class="btn btn-secondary btn-sm px-4 gap-3" href="{% url 'core:list_id' %}">Ver doc IDs</a>
                        <a class="btn btn-danger btn-sm px-4" href="{% url 'logout' %}">Log out</a>
                    </div>
                {% else %}
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                        <a class="btn btn-success px-4" href="{% url 'login' %}">Log in</a>
                    </div>
                {% endif %}
                <hr>
            </div>
        </div>

        <div class="row">
            <ul class="list-group list-group-numbered d-flex">
            {% for client in clients %}
                <li class="list-group-item d-flex justify-content-evenly align-items-center">
                    <p class="flex-grow-1 m-1">{{ client }}</p>
                    {% if user.is_authenticated %}
                        <a class="btn btn-info m-1" href="{% url 'core:update_client' client.id %}">Editar</a>
                        <a class="btn btn-danger m-1" href="{% url 'core:delete_client' client.id %}">Excluir</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            {% if user.is_authenticated %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
                <a class="btn btn-primary my-3" href="{% url 'core:new_client' %}">Cadastrar novo cliente</a>
            </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}
