{% extends 'base.html' %}

    {% block title %} IDs {% endblock %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">

        <div class="row">
            <div class="d-sm-flex">
                <div class="col-9">
                    <h1 class="display-5 fw-bold">Doc IDs disponíveis</h1>
                </div>
                <div class="col-3">
                    {% if user.is_authenticated %}
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="fs-4 m-0"> Olá {{ user.username }} </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="btn btn-danger btn-sm mb-2" href="{% url 'logout' %}">Log out</a>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            <p>Você precisa fazer login para continuar!</p>
                            <hr>
                            <a class="btn btn-success m-3" href="{% url 'login' %}">Log in</a>
                        </div>
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="row">
                    <ul class="list-group list-group-numbered d-flex">
                    {% for loc_id in id %}
                        <li class="list-group-item d-flex justify-content-evenly align-items-center">
                            <p class="flex-grow-1 m-1">{{ loc_id }}</p>
                            <a class="btn btn-info m-1" href="{% url 'core:update_id' loc_id.id %}">Editar</a>
                            <a class="btn btn-danger m-1" href="{% url 'core:delete_id' loc_id.id %}">Excluir</a>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="btn-group mt-4" role="group">
                            <a class="btn btn-primary my-3" href="{% url 'core:new_id' %}">Cadastrar novo ID</a>
                            <a class="btn btn-secondary my-3" href="{% url 'core:list_clients' %}">Voltar</a>
                        </div>
                    </div>
            </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}
