{% extends 'base.html' %}

{% block title %} Logout {% endblock %}

{% block content %}


  <div class="alert alert-success">
    <div class="container-fluid p-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold">Sessão encerrada!</h1>
        <hr>
        <p class="col-md-8 fs-4">Log out realizado com sucesso.</p>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
          <a class="btn btn-outline-primary btn-lg" href="{% url 'login' %}">Fazer login novamente </a>
      </div>
    </div>
  </div>
    

{% endblock %}

